.add {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 600px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    
    border: solid;

}

.btn {
    padding-left: 20px;
}



