.ToDo {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 450px;

    display: flex;
    flex-direction: row;
    justify-content: center;  
    
    
    border: solid;
    border-radius: 20px;
    border-width:5px;

    background-color:rgb(255, 255, 0);
    border-color:	rgb(204, 204, 0);

    text-decoration: none;
}

.Todo button {
    background-color:rgb(204, 204, 0);
    border-color:rgb(255, 255, 102);
}

.delete {
    margin-left: 10px;
}

.edit{
    margin-left: 10px;
}

.openClose {
    margin-left: 10px;
}
.save{
    padding-left: 10px;
}

.Closed {
    text-decoration: line-through;
    background-color: chartreuse;
}
