.ToDo {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 450px;

    display: flex;
    flex-direction: row;
    justify-content: center;  
    
    border: solid;
    text-decoration: none;
}


.delete {
    margin-left: 10px;
}

.edit{
    margin-left: 10px;
}

.openClose {
    margin-left: 10px;
}
.save{
    padding-left: 10px;
}

.Closed {
    text-decoration: line-through;
    background-color: chartreuse;
}
