.App {

  margin: 50px auto;
  border: solid;
  border-width:10px;
  border-radius: 40px;
  border-color:rgb(204, 204, 0);
  background-color:rgb(255, 255, 153);
  height: 250px;
  width: 1000px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.Header {
  margin-top: 20px;
}


