.App {

  margin: 50px auto;
  border: solid;
  height: 500px;
  width: 1000px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.Header {
  margin-top: 20px;
}
